.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Start of Form */
.form-wrapper {

} 

.form-field {
  margin-bottom: 16px;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  margin-right: 16px
}

.form-link {
  margin-top: 14px;
  font-size: 12px;
  color: blue;
}

.form-input {
  font-size: 14px;
    padding: 10px;
    min-width: 250px;
    border-radius: 6px;
    border: 1px solid slategrey;
}

.form-submit-btn {
  padding: 8px 12px;
  background-color: lightsteelblue;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  border-radius: 8px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}
/* End of Form */

.activities-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.activities-header {
  flex: 0;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 16px;
}

.activities-header-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.activities-header-create-btn {
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  background-color: deepskyblue;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: white
}
.activity-wrapper {
  padding: 20px;
  flex: 1 1 0;
  flex-flow: column nowrap;
  display: flex;
  overflow: auto;
}

.activity-card {
  text-align: left;
  border-radius: 10px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.acitivity-card-header {
  display: flex;
  align-items: center;
}

.activity-name {
  font-size: 14px;
  font-weight: 700;
}

.activity-description {
  font-size: 12px;
}

.routine-list-item {
  font-size: 12px;
}

.btn-edit {
  font-size: 12px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
