@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Hahmlet&family=M+PLUS+Code+Latin:wght@300&family=Red+Hat+Mono&family=VT323&display=swap');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Hahmlet', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section-header {
  font-size: 14px;
  font-weight: 700;
}

.label {
  font-size: 14px;
  font-weight: 700;
  margin-right: 2px;
}

.label-value {
  margin-left: 2px;
  font-size: 14px;
  font-weight: 400;
}


.custom-row > th {
  font-size: 14px;
}

.custom-row > td {
  font-size: 12px;
}

/* Start of Form */
.form-wrapper {
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
} 

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  max-width: 280px;
}

.form-field-label {
  display: flex;
  align-items: center;
  width: 280px;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  margin-right: 16px
}

.form-link {
  margin-top: 14px;
  font-size: 12px;
  color: blue;
}

.form-input {
  font-size: 14px;
    padding: 10px;
    min-width: 280px;
    border-radius: 6px;
    border: 1px solid slategrey;
}

.form-submit-btn {
  padding: 8px 12px;
  background-color: lightsteelblue;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  border-radius: 8px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
}

.user-wrapper {
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 50px;
    background-color: lightgray;
} 

/* End of Form */

.activities-container, 
.routines-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  height: 96%;
}

.activities-header,
.routines-header {
  flex: 0;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 16px;
}

.activities-header-title,
.routines-header-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.activities-header-create-btn,
.routines-header-create-btn {
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  background-color: deepskyblue;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: white
}

.activity-wrapper,
.routine-wrapper {
  padding: 20px;
  flex: 1 1 0;
  flex-flow: column nowrap;
  display: flex;
  overflow: auto;
}

.activity-card,
.routine-card {
  text-align: left;
  border-radius: 10px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px 12px;
  margin-bottom: 12px;
}

.acitivity-card-header,
.routine-card-header {
  display: flex;
  align-items: center;
}

.activity-name,
.routine-name {
  font-size: 14px;
  font-weight: 700;
}

.activity-description {
  font-size: 12px;
}

.routine-list-item {
  font-size: 12px;
}

.app-btn {
  font-size: 12px;
  color: white;
  margin-right: 4px;
}

h2 {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
